:root {
  font-family: 'Nunito';
  font-weight: 400;    
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    background-color: #0a0a0a;
    color: white;
    --component-bg: #111;
    --component-color: white;
    --component-border: #666;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    background-color: white;
    color: #2b2934;
    --component-bg: white;
    --component-color: #333;
    --component-border: #ccc;
  }
}

[data-theme="light"] {
  color-scheme: light;
  background-color: white;
  color: #2b2934;
  --component-bg: white;
  --component-color: #333;
  --component-border: #ccc;
}

[data-theme="dark"] {
  color-scheme: dark;
  background-color: #0a0a0a;
  color: white;
  --component-bg: #111;
  --component-color: white;
  --component-border: #666;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
}

.bg {
  content : "";
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity : .5;
  z-index: -1;
  background-image: url('/bgHorizontal.png');
  background-size: cover;
}

.material-icons-round {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.hoverable:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px #0003;
}

.hoverable {
  transition-duration: .2s;
}

#main {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  justify-content: flex-start
}

.go-fuck-ublock-origin-and-to-top {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 80px;
  height: 120px;
  background-size: 80px 240px;
  opacity: .25;
  cursor: pointer;
  zoom: .6;
}

.go-fuck-ublock-origin-and-to-top.arona:hover, 
.go-fuck-ublock-origin-and-to-top.plana:hover, 
.go-fuck-ublock-origin-and-to-top.plana:active,
.go-fuck-ublock-origin-and-to-top.arona:active {
  background-position: 0 -120px;
  opacity: 1;
}

.go-fuck-ublock-origin-and-to-top::after {
  content: "";
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 120px;
  transition: opacity .3s;
  opacity: 0;
  pointer-events: none;
}

.go-fuck-ublock-origin-and-to-top.arona {
  left: -80px;
}

.go-fuck-ublock-origin-and-to-top.arona,
.go-fuck-ublock-origin-and-to-top.arona::after {
  background: url("/BackToTop-Arona.png") no-repeat 0 0;
  background-size: 80px 240px;
  transition: opacity .3s, left .5s;
}

.go-fuck-ublock-origin-and-to-top.plana {
  right: -80px;
}

.go-fuck-ublock-origin-and-to-top.plana,
.go-fuck-ublock-origin-and-to-top.plana::after {
  background: url("/BackToTop-Plana.png") no-repeat 0 0;
  background-size: 80px 240px;
  transition: opacity .3s, right .5s;
}

.go-fuck-ublock-origin-and-to-top.plana.load {
  right: 0;
}

.go-fuck-ublock-origin-and-to-top.arona.load {
  left: 0;
}

.go-fuck-ublock-origin-and-to-top.ani-leave {
  background-position: 0 -120px;
}

.go-fuck-ublock-origin-and-to-top.plana.ani-leave {
  animation: ani-leave-right 300ms ease-in-out forwards;
}

.go-fuck-ublock-origin-and-to-top.arona.ani-leave {
  animation: ani-leave-left 300ms ease-in-out forwards;
}

.go-fuck-ublock-origin-and-to-top.left {
  pointer-events: none;
  background: none;
  transition: none;
}

[data-theme="light"] .arona {
  opacity: .75;
}

[data-theme="dark"] .plana {
  opacity: .75;
}

nav {
  width: 100%;
  height: 40px;
  background-color: var(--component-bg);
  color: var(--component-color);
  display: flex;
  justify-content: center;
  font-weight: 700;
  position: fixed;
  top: 0;
  z-index: 1000
}

@media (prefers-color-scheme: light) {
  nav .links img {
    filter: invert(1);
  }
}

nav .head {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none
}

nav .head h1 {
  font-size: 1.3rem;
  margin: 0
}

nav .head span:hover,
nav .head h1:hover {
  opacity: .6
}

nav .head img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

nav .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  color: var(--component-color);
  background-color: var(--component-bg);
}

nav .content a {
  text-decoration: none;
  color: inherit !important;
}

nav .content a img {
display: flex; 
justify-content: center;
}

nav .content img:hover {
  opacity: .6
}

@media screen and (max-width: 600px) {
  nav .links a:first-child {
      display:none
  }
}

footer {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: var(--component-bg);
  margin-top: 30px;
}

footer p {
  margin: 0;
  text-align: center;
}

@keyframes ani-leave-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100px);
  }
}

@keyframes ani-leave-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--component-border);
  border-radius: 3px;
  background-clip: padding-box;  
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

@media screen and (max-width: 600px) {
  .bg {
    background-image: url('/bgVertical.png');
  }
}

@media only screen and (min-width: 850px) and (min-height: 375px) {
  .go-fuck-ublock-origin-and-to-top {
    zoom: .7;
  }
}

@media only screen and (min-width: 950px) and (min-height: 400px) {
  .go-fuck-ublock-origin-and-to-top {
    zoom: .8;
  }
}

@media only screen and (min-width: 1060px) and (min-height: 500px) {
  .go-fuck-ublock-origin-and-to-top {
    zoom: .9;
  }
}

@media only screen and (min-width: 1175px) and (min-height: 700px) {
  .go-fuck-ublock-origin-and-to-top {
    zoom: 1;
  }
}


@media screen and (max-width: 550px) {
  nav .content {
    gap: 5px;
  }
}